html {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

h4 {
    margin-top: 0.5rem;
}

.row {
    --bs-gutter-x: 0; 
}

.dropdown {
    width:100%;
    text-align: right;
    margin: 0.25rem;
}

#sidebar-navlink-selection, #sidebar-navlink-detection, #sidebar-navlink-diagnosis, #sidebar-navlink-prediction {
    border: 1px;
    border-color: grey;
    border-style: solid;
    margin-bottom: 15px;
    width: 100%;
}

#app-body-content-parameter, #app-body-content-button, #detection-accordion-buffer-level, #diagnosis-severity-accordion, #app-body-content-prediction-results {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#alert-detection, #alert-default-data-loaded-successfully, #alert-default-data-loaded-unsuccessfully {
    margin-bottom: 0;
}

#alert-no-data-source-selected {
    margin-top: 1.5rem;
}

#app-content {
    display: flex;
}

#app-header {
    padding: 0.5rem;
}

#app-header-content {
    display: flex;
    align-items: center;
}

#app-header-title {
    margin: 0;
}

#app-header-menu {
    padding: 0;
}

#app-sidebar {
    display: flex;
    align-items: top;
    padding: 0.5rem;
}

#app-body {
    padding: 0.5rem;
    width: 74%;
}

#app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

#upload-active-periods, #upload-buffer-level {
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-width: 1px;
        border-style: dashed;
        border-radius: 5px;
        text-align: center;
        margin-top: 1.5rem;
    }

#app-body-button-data-selection {
    width: 100%;
}